div.boardCard {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32em;
    height: auto;

    background-clip: padding-box;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    cursor: pointer;

    padding-bottom: 0.5em;
}

div.innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

footer.bottom {
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
    padding-bottom: 0.3em;
    text-align: right;
    color: white;
    width: 32em;

    height: 0em;
    margin-bottom: 2em;
}

div.lane {
    z-index: 0;
    width: 12em;
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-left: 1.5em;
    padding: 0.25em 0.25em;
    border-radius: 1.2em;
    align-self: baseline;
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-wrap: break-word;
    color: white;
    background-color: #919191;
    padding: 0.3rem;
}

div.text {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 0em;
    width: 17.5em;
    overflow-wrap: break-word;
    z-index: 0;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.name {
    font-size: 1em
}

.photo {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
    margin-left: 1.5em;
    height: 4em;
    width: 4em;
    border: 1px solid white;
    border-radius: 50%;
    filter: drop-shadow(.2em 1em .3em rgba(0, 0, 0, 0.06));
    z-index: 0;
}

.noPhoto_noUser {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
    margin-left: 1.5em;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    z-index: 1;
    filter: drop-shadow(.2em 1em .3em rgba(0, 0, 0, 0.06));
    border: 1px solid white;

}

.noPhoto_user {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
    margin-left: 1.5em;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    z-index: 0;
    filter: drop-shadow(.2em 1em .3em rgba(0, 0, 0, 0.06));
    border: 1px solid white;
}

div.letter {
    color: white;
    text-align: center;
    padding-top: 0.2em;
    font-size: 2em;
}

div.imageSection {
    display: grid;
    text-align: center;
    place-items: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 550px) {
    div.boardCard {
        width: 23em;
    }

    footer.bottom {
        width: 23em;
    }

    .photo {
        height: 2.7em;
        width: 2.7em;
        margin-left: 1em;
        margin-right: 0.3em;
    }

    .noPhoto_noUser {
        height: 2.7em;
        width: 2.7em;
        margin-left: 1em;
        margin-right: 0.3em;

    }

    .noPhoto_user {
        height: 2.7em;
        width: 2.7em;
        margin-left: 1em;
        margin-right: 0.3em;
    }

    div.letter {
        font-size: 1.4em;
    }

    div.text {
        font-size: 90%;
        width: 15em;
    }

    div.lane{
        width: 10em;
        font-size: 0.6em;
        margin-left: 0;
    }
}

@media screen and (max-width: 420px) {
    div.boardCard {
        width: 19em;
    }

    footer.bottom {
        width: 19em;
    }

    .photo {
        height: 2.5em;
        width: 2.5em;
        margin-left: 0.8em;
        margin-right: 0.2em;
    }

    .noPhoto_noUser {
        height: 2.5em;
        width: 2.5em;
        margin-left: 0.8em;
        margin-right: 0.2em;

    }

    .noPhoto_user {
        height: 2.5em;
        width: 2.5em;
        margin-left: 0.8em;
        margin-right: 0.2em;

    }

    div.letter {
        font-size: 1.2em;
    }

    div.text {
        font-size: 80%;
        width: 13em;
    }

    div.lane{
        width: 9em;
        font-size: 0.6em;
        margin-left: 0;
    }

}

@media screen and (max-width: 360px) {
    div.boardCard {
        width: 14em;
    }

    footer.bottom {
        width: 14em;
    }

    .photo {
        height: 2em;
        width: 2em;
        margin-left: 0.7em;
        margin-right: 0.4em;
    }

    .noPhoto_noUser {
        height: 2em;
        width: 2em;
        margin-left: 0.7em;
        margin-right: 0.4em;

    }

    .noPhoto_user {
        height: 2em;
        width: 2em;
        margin-left: 0.7em;
        margin-right: 0.4em;

    }

    div.letter {
        font-size: 1em;
    }

    div.text {
        font-size: 70%;
        width: 10em;
    }

    div.lane{
        width: 7em;
        font-size: 0.5em;
        margin-left: 0;
    }
}