div.boardCard {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: auto;

    background-clip: padding-box;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    cursor: pointer;
}

div.innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer.bottom {
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
    padding-bottom: 0.3em;
    text-align: right;
    color: white;
    width: 30em;

    height: 0em;
    margin-bottom: 2em;
}

div.lane {
    z-index: 0;
    width: 15em;
    font-size: 0.5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    align-self: baseline;
    font-weight: bold;
    background-color: white;
    border-radius: 25%;
    text-align: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

div.text {
    text-align: center;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 0em;
    width: 22em;
    overflow-wrap: break-word;
    z-index: 0;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.name {
    font-size: 1em
}

.photo {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: 1em;
    height: 4em;
    width: 4em;
    border: 1px solid white;
    border-radius: 50%;
    filter: drop-shadow(.2em 1em .3em rgba(0, 0, 0, 0.06));
    z-index: 0;
}

.noPhoto_noUser {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: 1em;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    z-index: 1;
    filter: drop-shadow(.2em 1em .3em rgba(0, 0, 0, 0.06));
    border: 1px solid white;

}

.noPhoto_user {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: 1em;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    z-index: 0;
    filter: drop-shadow(.2em 1em .3em rgba(0, 0, 0, 0.06));
    border: 1px solid white;
}

div.letter {
    color: white;
    text-align: center;
    padding-top: 0.2em;
    font-size: 2em;
}

div.imageSection {
    display: grid;
    text-align: center;
    place-items: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 550px) {
    div.boardCard {
        width: 20em;
    }

    footer.bottom {
        width: 20em;
    }

    .photo {
        height: 2.7em;
        width: 2.7em;
        margin-left: 0.3em;
        margin-right: 0.3em;
    }

    .noPhoto_noUser {
        height: 2.7em;
        width: 2.7em;
        margin-left: 0.3em;
        margin-right: 0.3em;

    }

    .noPhoto_user {
        height: 2.7em;
        width: 2.7em;
        margin-left: 0.3em;
        margin-right: 0.3em;
    }

    div.letter {
        font-size: 1.4em;
    }

    div.text {
        font-size: 95%;
        width: 17em;
    }
}

@media screen and (max-width: 392px) {
    div.boardCard {
        width: 16em;
    }

    footer.bottom {
        width: 16em;
    }

    .photo {
        height: 2.5em;
        width: 2.5em;
        margin-left: 0.25em;
        margin-right: 0.25em;
    }

    .noPhoto_noUser {
        height: 2.5em;
        width: 2.5em;
        margin-left: 0.25em;
        margin-right: 0.25em;

    }

    .noPhoto_user {
        height: 2.5em;
        width: 2.5em;
        margin-left: 0.25em;
        margin-right: 0.25em;

    }

    div.letter {
        font-size: 1.3em;
    }

    div.text {
        font-size: 90%;
        width: 14em;
    }
}

@media screen and (max-width: 325px) {
    div.boardCard {
        width: 12em;
    }

    footer.bottom {
        width: 12em;
    }

    .photo {
        height: 2.3em;
        width: 2.3em;
        margin-left: 0.25em;
        margin-right: 0.25em;
    }

    .noPhoto_noUser {
        height: 2.5em;
        width: 2.5em;
        margin-left: 0.05em;
        margin-right: 0.25em;

    }

    .noPhoto_user {
        height: 2.5em;
        width: 2.5em;
        margin-left: 0.05em;
        margin-right: 0.05em;

    }

    div.letter {
        font-size: 1.2em;
    }

    div.text {
        font-size: 90%;
        width: 10em;
    }
}