.title {
    font-size: 1.5em;
    margin: 0 0.5em;
    color: rgb(255, 255, 255);
}

.buttons {
    margin: 0.6em;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.breadcrumb_trail {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100%;
    padding-top: 2em;
    display: grid;
    padding-bottom: 2em;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.innercontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (hover: hover) {
    .buttons:hover {
        transform: scale(1.65);
    }
}