.workspaceStyle {
    background-color: #2666BE !important;
    border: none !important;

}

.pageWrap {
    padding-bottom: 1em;
}

.grid {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    z-index: 0;
}

div.modalWrap {
    position: relative;
    z-index: 3;
}

.title {
    font-size: 1.5em;
    text-align: center;
    margin: 1em;
}

.topBar {
    background-color: #2666BE !important;
    width: 100%;
    padding-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5em;
}

.dropdownFragment {
    padding-left: 0em;
}

.languageDropdown {
    padding-right: 1.5em;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}

.menu {
    z-index: 1;
}

.menuOptions {
    width: 12em;
    left: 1em;
}

.item {
    width: 10.75em;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (min-width: 400px) {

    .left {
        margin-left: 2rem;
    }

}

@media screen and (max-width: 810px) {
    .pageWrap{
        padding-bottom: 7em;
    }
}

