.buttonStyle {
    background-color: var(--dropdown-bg-) !important;
    color: var(--dropdowncolor-) !important;
    border: none !important;
}

.menuStyle {
    border: 1px solid #45B7F6 !important;
    align-items: center !important;
}

.menuStyle>* {
    align-items: center !important;
    border-radius: 10px !important;
    text-align: center !important;
}

.menuStyle>*:active {
    background-color: #45B7F6;
}

.labelContainer {
    padding-top: 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.iconStyle {
    color: var(--dropdowncolor-);
}