div.grid {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-right: 0rem;
    box-sizing: border-box;
    padding-top: 13.1em;
}

div.cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin: 0.6em;
    cursor: pointer;
}

@media (hover: hover) {
    .buttons:hover {
        transform: scale(1.65);
    }
}
