.filter {
    padding-left: 1.5em;
    position: relative;
    cursor: pointer;
}

.open {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 0.2em;
    right: 0.25em;
    padding: 1.5rem;
    width: 15em;
    height: 13em;
    overflow: scroll;
    overflow-x: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: white;
    position: absolute;
}

.newcardOpen{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 0.2em;
    right: -10em;
    padding: 1.5rem;
    width: 15em;
    height: 13em;
    overflow: scroll;
    overflow-x: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: white;
    position: absolute;
}



.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.imagecontainer {
    padding: 0.25em;
}

.username {
    width: 8em;
    padding: 0.25em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.selectAll {
    width: 10em;
    padding: 0.25em;
}

.checkbox {
    padding: 0.25em;
}

div.letter {
    color: white;
    text-align: center;
    padding-top: 0.1em;
    font-size: 1.5em;
}

.noPhoto_noUser {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

@media screen and (max-width: 576px) {
    .newcardOpen {
        right: -5.5em;
        width: 13em;
        height: 13em;
    }

    .image {
        width: 2em;
        height: 2em;
    }

    .noPhoto_noUser{
        width: 2em;
        height: 2em;
    }

    .username{
        font-size: 90%;
    }

    div.letter{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 436px) {
    .newcardOpen {
        right: -4.5em;
    }
}

@media screen and (max-width: 370px) {
    .newcardOpen {
        right: -3em;
        padding: 1rem;
        width: 11em;
    }

    .image {
        width: 1.5em;
        height: 1.5em;
    }

    .noPhoto_noUser{
        width: 1.5em;
        height: 1.5em;
    }

    .username{
        font-size: 85%;
    }

    div.letter{
        padding-top: 0;
        font-size: 1em;
    }
}



@media screen and (max-width: 307px) {
    .filter {
        padding-left: 1em;
    }

    .newcardOpen {
        right: -2em;
        width: 10em;
    }

    .image {
        width: 1.3em;
        height: 1.3em;
    }

    .noPhoto_noUser{
        width: 1.3em;
        height: 1.3em;
    }

    .username{
        font-size: 80%;
    }

    div.letter{
        font-size: 0.9em;
    }

}