div.buttonContainer{
    display: flex;
    position: fixed;
    right: 3em;
    bottom: 3em;
    z-index: 0;
}

button.FloatButton{
    border-radius: 50%;
    border: none;
    width: 4.5em;
    height: 4.5em;
    background-color: #F48A32;
}

.plus{
    color:white;
    height: 3em;
    width: auto;
}

@media (hover: hover) {
    .FloatButton:hover {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 810px){
    div.buttonContainer{
        width: 45%;
    }

}

@media screen and (max-width: 420px){
    div.buttonContainer{
        width: 43%;
    }

}

@media screen and (max-width: 360px){
    div.buttonContainer{
        width: 40%;
    }

}


@media screen and (max-width: 550px){
    button.FloatButton{
        width: 3.2em;
        height: 3.2em;
    }
    .plus{
        height: 2em;
    }
}

@media screen and (max-width: 420px){
    button.FloatButton{
        width: 3em;
        height: 3em;
    }
    .plus{
        height: 2em;
    }
}

@media screen and (max-width: 360px){
    button.FloatButton{
        width: 2.5em;
        height: 2.5em;
    }
    .plus{
        height: 1.5em;
    }
}