.card {
    font-family: roboto, arial;
    position: relative;
    color: #2e2e2f;
    cursor: move;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 1rem;
    border: 3px solid transparent;
    max-width: 350px;
  }
  
  .card:hover {
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  }
  
  .card p {
    font-size: 15px;
    margin: 1.2rem 0;
  }
  
  .tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .tag {
    border-radius: 100px;
    padding: 4px 13px;
    font-size: 12px;
    color: #ffffff;
    background-color: #2666BE;
  }
  

  .line {
    margin-top: 1rem;
    height: 1px;
    background: #C8C8C8;
  }