div.Card {
    box-sizing: border-box;
    display: flex;
    width: 22em;
    height: auto;
    background-clip: padding-box;
    background-color: white;
    border-radius: 0.5em;
    flex-direction: column;
    padding-bottom: 3em;
    overflow-y: auto;
    overflow-x: hidden;
}


div.close {
    display: flex;
    justify-content: flex-end;
}

div.title {
    width: 100%;
    position: relative;
    padding-left: 2em;
    padding-right: 2em;
    overflow-wrap: break-word;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

}

div.ownersWrap {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.owner {
    padding-left: 2em;
    justify-content: center;
    text-align: center;
}

img.ownerPhoto {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

div.coOwners {
    padding-right: 4.5em;
    position: relative;
    top: 0;
    left: 0;
}

img.image1 {
    border-radius: 50%;
    width: 4em;
    height: 4em;

    position: absolute;
    top: 0em;
    left: -1.7em;
    z-index: 2;
}


img.image2 {
    border-radius: 50%;
    width: 4em;
    height: 4em;

    position: relative;
    top: 0em;
    left: 0.6em;
    z-index: 1;
}

img.image3 {
    border-radius: 50%;
    width: 4em;
    height: 4em;

    position: absolute;
    top: 0em;
    left: 2.9em;
    z-index: 0;
}


div.image1 {
    border-radius: 50%;
    width: 4em;
    height: 4em;

    position: absolute;
    top: 0em;
    left: -1.7em;
    z-index: 2;
}

div.image2 {
    border-radius: 50%;
    width: 4em;
    height: 4em;

    position: relative;
    top: 0em;
    left: 0.6em;
    z-index: 1;
}

div.image3 {
    border-radius: 50%;
    width: 4em;
    height: 4em;

    position: absolute;
    top: 0em;
    left: 2.9em;
    z-index: 0;
}

div.ownerPhoto {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}


div.letter {
    color: white;
    text-align: center;
    padding-top: 0.2em;
    font-size: 2em;
}

div.description {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    overflow-wrap: break-word;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #505050;
}

div.addComment {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    width: 100%;
}


input.inputComment {
    width: 14em;
    border: none;
    border-radius: 0px;
    background-color: #eaeaea;
    padding: .8em;
    font-size: 1rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

button.sendButton {
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
}

img.send {
    background-color: #eaeaea;
    width: 2em;
}

.rotated {
    margin-left: 0.4em;
    transform: rotate(180deg);
}

.nonRotated {
    padding-left: 0.4em;
    transform: rotate(0);
}


div.commentsWrap {
    display: flex;
    color: #505050;
}

div.commentsText {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;

    padding-left: 3em;
    padding-top: 2em;

}

div.ownerExistsButNoPhoto {
    background-color: var(--dynamic-owner-);
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

button.closeButton {
    background-color: white;
    border: none;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    border-radius: 50%;
}

div.modalBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5em);
}

div.commentsContainer {
    margin-top: 1em;
    height: 10.5em;
    align-self: center;
    display: var(--comments-display-);
    overflow: scroll;
    overflow-x: hidden;

}

div.cameraIcon {
    border: none;
    background-color: white;
    margin: 0.2em;
}

div.cameraIcon label {
    margin-top: 0.5em;
    margin-right: 0.5em;
    cursor: pointer;
}

div.cameraIcon>input {
    display: none;
}

img.preview {
    width: 1.4em;
    height: 1.4em;
}

.fileName {
    display: inline-block;
    width: inherit;
    font-size: 0.4em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.fileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2.1em;
    height: 2.1em;
}

div.scroll {
    height: var(--dynamic-opened-card-height-);
    /* height: 40em; */
    overflow-y: scroll;
    overflow-x: hidden;
}

div.nonScroll {
    height: auto;
}

button.arrowButton {
    margin-top: 1.8em;
    border: none;
    background-color: white;
    height: 2em;
}

@media screen and (max-width: 380px) {
    div.Card {
        width: 18em;
    }

    input.inputComment {
        width: 10.5em;
    }

    div.coOwners {
        padding-right: 4em;
    }
}


@media screen and (max-width: 300px) {
    div.Card {
        width: 16em;
    }

    input.inputComment {
        width: 8.5em;
    }

    div.coOwners {
        padding-right: 3.5em;
    }

    div.owner {
        padding-left: 1em;
    }
}