

.list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-evenly;
    padding: 0rem;
    margin-right: 1rem;
    
}

.list li {
    margin:0 1rem;
    color: white;
    transition: 300ms;
    background: none;
    display: none;
    
}

.list li:active{
    background: #FFFFFF80;
    border-radius: 10%;
}

.button {
    border: none;
    background: none;
    color: white;
}

.buttonMenu {
    border: none;
    background: none;
    color: white;
    display: initial;
    margin-right: 3rem;
}

.icon {
    margin-right: 0.5rem;
}

.navItems{
    display: flex;
}

@media screen and (min-width: 1100px) {

    .buttonMenu {
        display: none;
    }

    .list li{
        display: initial;
     }
}